<!--
 * @file: websocket 网页端
 * @author: huangjitao
-->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>多人聊天室web客户端</title>
  <script src="https://cdn.staticfile.org/vue/2.6.11/vue.min.js"></script>
</head>
<body>
  <div id="app">
    <div v-if="isShow">
      <p>昵称：<input type="text" v-model="name"></p>
      <p>房间号：<input type="text" v-model="roomid"></p>
      <button type="button" @click="enter">进入聊天室</button>
    </div>
    <div v-else>
      <ul>
        <li>当前房间号：{{roomid}} --- 在线人数：{{num}}</li>
        <li v-for="(item,index) in lists" :key="'message' + index">{{item}}</li>
      </ul>
      <div class="ctrl">
        <input type="text" v-model="message">
        <button type="button" @click="send">发送消息</button>
      </div>
    </div>
  </div>
  <script>
    var app = new Vue({
      el: '#app',
      data: {
        isShow: true,
        message: '',
        ws: {},
        name: '',     //用户名
        roomid: '',   //房间号
        lists: [],    //聊天记录
        num: 0        //房间人数
      },
      mounted() {},
      methods: {
        init() {
          this.ws = new WebSocket('ws://127.0.0.1:3000')
          this.ws.onopen = this.onOpen
          this.ws.onmessage = this.onMessage
          this.ws.onclose = this.onClose
          this.ws.onerror = this.onError
        },
        onOpen: function() {
          // 发起鉴权请求
          this.ws.send(JSON.stringify({
            event: 'auth',
            message: 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6Imh1YW5naml0YW8iLCJpYXQiOjE1MTYyMzkwMjJ9.-A4O4moqP8zc97GqtE1IgpFOcXI0Tpk_ExzjAt-qzx8'
          }))
        },
        onMessage: function(event) {
          var obj = JSON.parse(event.data) 
          switch (obj.event) {
            case 'auth':
              if (obj.isAuth) {
                this.ws.send(JSON.stringify({
                  event: 'enter',
                  name: this.name,
                  roomid: this.roomid
                }))
                this.isShow = false
              } else {
                alert(obj.message)
              }
              break;
            case 'enter':
              this.lists.push('欢迎：' + obj.name + '进入聊天室！')
              break;
            case 'out': 
              this.lists.push(obj.name + '已经退出了聊天室')
              break;
            case 'heartbeat':
              this.checkServer()
              this.ws.send(JSON.stringify({
                event: 'heartbeat',
                message: 'pong'
              }))
              break;
            default:
              if (obj.name !== this.name) {
                //接受非自己的聊天记录
                this.lists.push(obj.name + '：' + obj.message)
              }
              break;
          }
          this.num = obj.num
        },
        // 进入聊天室
        enter: function() {
          if (this.name.trim() === '') {
            alert('用户名不得为空')
            return
          }
          this.init()
        },
        // 发送消息
        send: function() {
          this.lists.push(this.name + '：' + this.message)
          this.ws.send(JSON.stringify({
            event: 'message',
            message: this.message,
            name: this.name
          }))
          this.message = ''
        },
        onClose: function() {
          // 当链接主动断开的时候触发close事件
          console.log('close:' + this.ws.readyState);
          console.log('已关闭websocket');
          this.ws.close()
        },
        onError: function() {
          console.log('error:' + this.ws.readyState);
          console.log('websocket连接失败！');
        },
        checkServer: function () {
          var _this = this
          clearTimeout(this.handle)
          this.handle = setTimeout(function () {
            _this.onClose()
            setTimeout(function () {
              _this.init()
            }, 1000)
            // 设置1ms的时延，调试在服务器测未及时响应时，客户端的反应
          }, 30000 + 1000)
        }
      }
    })
  </script>
</body>
</html>
